!!! 5
%html
  %head
    %meta{ charset: 'UTF-8' }
    <!-- † 美乳 -->
    %link{ rel: 'stylesheet', href: 'https://unpkg.com/papercss/dist/paper.min.css' }
    %title
      miffyちゃんイベント
  %body
    %table.table
      %tr
        %th 期間
        %th 場所
        %th 内容
        %th link
      - @items.each do |item|
        %tr
          %td= item.period
          %td= item.place
          %td= item.title
          %td
            %a{ href: item.link } link

